.footer-container {
    height: 20rem;
    background: rgb(26, 26, 26);
    margin-top: 10rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 0 5rem;
}